nav {
  line-height: 70px;
  padding: 10px 10px 10px 25px;
}

.nav-logo {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-decoration: none;
}

.nav-logo:hover {
  color: #3DDAD7;
}

.themeToggleButton {
  line-height: 70px;
  border-radius: 3px;
  float: right;
  font-size: large;
  margin-top: 6.5px;
}
