// Colors
$marina: #135589; // H1, headers
$bondiBlue: #2A93D5; // H2
$californianCoral: #3DDAD7; // Accents, hr, borders
$chill: #AED9DA; // action items, buttons
$grey: #4d4d4a; // body text

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Pacifico', cursive;

// spatial
$base: 8px;

// export for CSS modules
:export {
  marina: $marina;
  bondiBlue: $bondiBlue;
  californianCoral: $californianCoral;
  chill: $chill;
  grey: $grey;
  base: $base / 1px;

}