html {
  font-size: 62.5%;  /* 10px */
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem; /* 12px */
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4a;
}

p {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 2;
  color: #135589;
}

h2 {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.8;
  color: #2A93D5;
}

h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.6;
  color: #4d4d4a;
}

h4 {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.4;
  color: #4d4d4a;
}

.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
